@{
   var Song = ViewData["Song"];
}
<table>
    <tr>
        <th>曲名</th>
        <td>@(Song)</td>
    </tr>
    <tr>
        <th>アーティスト名</th>
        <td>@(Song)</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>@(Song)</td>
    </tr>
    <tr>
        <th>平均点</th>
        <td>@(Song)</td>
    </tr>
</table>