@model vote_standalone.Models.FormInputs.User.CreateSubmit
@{
    ViewData["Title"] = "ユーザ作成";
}
<script src="~/js/coffeejs/create_user.js"></script>



<form method="post" action="~/create_user_submit">
    <div class="form-group">
        <input type="hidden" asp-for="Uuid" id="Uuid" >
        <label for="DisplayName">名前</label>
        <input type="text" class="form-control" id="DisplayName" asp-for="DisplayName" placeholder="名前">
    </div>
    <button type="submit" class="btn btn-primary" id="submit">登録</button>
</form>