<script src="/js/coffeejs/subjects_input.js"></script>
<div id="form">
    <div class="form-group">
        <label for="Title">タイトル</label>
        <input type="text" class="form-control" id="Title" placeholder="必須　～100文字">
    </div>
    <div class="form-group">
        <label for="Artist">アーティスト名</label>
        <input type="text" class="form-control" id="Artist" placeholder="必須　～100文字">
    </div>
    <div class="form-group">
        <label for="Url">URL</label>
        <input type="text" class="form-control" id="Url" placeholder="必須　～100文字">
    </div>
    <div class="form-group">
        <label for="Comment">コメント</label>
        <input type="text" class="form-control" id="Comment" placeholder="任意　～100文字">
    </div>
    <button class="btn btn-primary" id="submit">登録</button>
</div>