@{
    ViewData["Title"] = "Home";
    var Subjects = ViewData["Subjects"] as List<Dictionary<string, object>>;
    var Now = ViewData["now"] as int?;
}

<script src="/js/coffeejs/index.js"></script>
<script>
    window.POINT_MIN = @(vote_standalone.Models.FormInputs.Subject.Vote.POINT_LENGTH_MIN);
    window.POINT_MAX = @(vote_standalone.Models.FormInputs.Subject.Vote.POINT_LENGTH_MAX);
    window.COMMENT_MIN = @(vote_standalone.Models.FormInputs.Subject.Vote.COMMENT_LENGTH_MIN);
    window.COMMENT_MAX = @(vote_standalone.Models.FormInputs.Subject.Vote.COMMENT_LENGTH_MAX);
</script>

<h1>今の投票対象</h1>

@foreach (Dictionary<string, object> value in Subjects)
{
    if (Now == null) break;
    if (Convert.ToInt32(value["subject_id"]) != Convert.ToInt32(Now)) continue;

    Html.RenderPartial("_Subject", new ViewDataDictionary(this.ViewData)
    {
        {"SubjectId", value["subject_id"] },
        {"SongTitle", value["title"] },
        {"Artist", value["artist"] },
        {"Comment", value["subject_comment"] },
        {"Url", value["url"] },
        {"VoteComment", value["vote_comment"] },
        {"VotePoint", value["point"] },
        {"PointAverage", "0" }
    });
    break;
}

<h1>過去の投票対象</h1>
@foreach (Dictionary<string, object> value in Subjects)
{
    if (Now != null && Convert.ToInt32(value["subject_id"]) == Convert.ToInt32(Now)) continue;

    Html.RenderPartial("_Subject", new ViewDataDictionary(this.ViewData)
    {
        {"SubjectId", value["subject_id"] },
        {"SongTitle", value["title"] },
        {"Artist", value["artist"] },
        {"Comment", value["subject_comment"] },
        {"Url", value["url"] },
        {"VoteComment", value["vote_comment"] },
        {"VotePoint", value["point"] },
        {"PointAverage", "0" }
    });
}
